body ul li {
  text-align: left;
}
ul {
  width: 85%;
  position: fixed;
  z-index: 999;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  padding: 0;
  display: flex;
  @media (max-width: 576px) {
    display: none;
    width: 5%;
  }
  li {
    width: 100%;
    position: relative;
    margin: 20px 15px;
    text-align: unset;

    .list-group-item {
      position: absolute;
      top: -10px;
      left: -10px;

      &:first-child {
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
      }
      &:last-child {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
      }
      background-color: transparent;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: #413f3f 2px solid;
    }
    .list-group-item.active {
      background-color: transparent;
      border-color: rgb(34, 219, 201);
    }
    font-family: "微軟正黑體";
    letter-spacing: 5px;
    text-align: center;

    @media (max-width: 576px) {
      text-align: unset;
    }
  }
}

#page01 {
  .areaAvatar {
    background-image: url("./../img/示意圖/柳川4.jpg");
  }
}

section.template {
  .topbutn {
    cursor: pointer;
    // display: none;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 100px;
    bottom: 50px;
    z-index: 10;
    transition: 0.25s;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    img {
      width: 50px;
      height: 100px;
    }

    @media (max-width: 576px) {
      img {
        width: 50px;
        height: 100px;
      }

      right: 15px;
    }
  }

  .container {
    .col-12 {
      @media (max-width: 576px) {
        overflow: hidden;
      }
      .title.drop-shadow {
        /* attra title add drop-shadow */
        filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

        img {
          width: 100%;
          margin: 80px 0;
          @media (max-width: 576px) {
            margin: 20px 0;
          }
        }
      }
    }

    .row02 {
      box-shadow: 0 0 10px #5c5c5c;

      .swiper-container {
        width: 100%;

        .swiper-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .attraInfo {
        /* 景點 Attractions 簡介 */
        width: 100%;
        height: 100%;
        letter-spacing: 1px;
        color: whitesmoke;
        background-color: gray;
        padding: 40px 20px 20px 40px;

        @media (max-width: 576px) {
          padding: 30px 20px 20px 40px;
        }

        h2 {
          margin-bottom: 30px;

          @media (max-width: 576px) {
            font-size: 22px;
            margin-bottom: 15px;
          }
        }

        p {
          font-size: 18px;

          @media (max-width: 576px) {
            font-size: 16px;
            margin: 0 0 10px 0;
          }

          a {
            // background-color:#555;
            // padding: 5px 15px;

            text-decoration: none;
            border-bottom: #ffffff 2px solid;
            color: #ffffff;
            font-size: 16px;
            // 一拳修改
          }
        }
      }
    }

    .attraContent {
      @media (max-width: 576px) {
        padding-top: 15px;
      }

      p {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: justify;

        @media (max-width: 576px) {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 30px;
        }
      }
    }
  }
}

#page06 {
  .container {
    .attraContent {
      padding-bottom: 200px;

      @media (max-width: 576px) {
        padding-bottom: 100px;
      }
    }
  }
}

// 常樂footer 修改
.centerArea_footer {
  width: 100%;
  height: 10vw;
  background-color: black;
  position: relative;

  @media (max-width: 768px) {
    height: 18vw;
  }

  p {
    color: whitesmoke;
    font-size: 0.9em;
    letter-spacing: 3px;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 37vw;
    width: auto;
    transform: translate(-50%, -50%);

    @media (max-width: 768px) {
      font-size: 3.3vw;
      letter-spacing: 0.5px;
      left: 50%;
      width: 60vw;
      transform: translate(-50%, -50%);
    }
  }

  .centerArea_person {
    width: 9%;
    position: absolute;
    left: 5vw;
    bottom: 5vw;

    @media (max-width: 768px) {
      left: 2vw;
      bottom: 13vw;
      width: 16%;
    }
  }

  .centerArea_train_station {
    width: 20%;
    position: absolute;
    right: 2vw;
    bottom: 5vw;

    @media (max-width: 768px) {
      right: 1vw;
      bottom: 13vw;
      width: 40%;
    }
  }
}

// 常樂footer 修改
