body {
  padding-top: 76px;
  /* navBar fixed-up 時 body 需 padding-top navBar 的 height */
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
  background-image: url("./../img/背景圖/ep_naturalwhite.png");
  background-size: auto;
  background-origin: padding-box;
  background-repeat: repeat;
}
 
#main_nav.navbar {
  width: 100vw;

  /*  padding: 0; */
  //  container
  /* margin: 8px 16px; */
  .navbar-brand img {
    @media(max-width:576px) {
      width: auto;
      height: 25px;

    }

  }

  .nav-item {
    font-size: 20px;
    width: 9vw;
    height: 60px;
    line-height: 45px;
    font-family: "Noto Serif TC", serif;
    transition: 0.3s linear;

    @media(max-width:576px) {
      width: 100%;
    }

    &:hover {
      /*  navBar hover 時 標題區塊變灰 文字變黑 轉換時間 0.3S */
      background-color: lightgray;
      transition: 0.3s linear;
      position: relative;
      left: -2px;
      top: -2px;
      color: rgba(0, 0, 0, 0.568);
    }
  }

}

#page01 {

  .container {

    .row {
      .areaAvatar {
        background-image: url("./../img/示意圖/南天宮.jpg");
        width: 250px;
        height: 250px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 3px solid rgb(95, 95, 95);
        position: relative;
        margin: 40px 0px;

        @media(max-width:576px) {
          width: 250px;
          height: 250px;
          margin: 20px 0;
        }

        .mask {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: rgba(240, 240, 240, 0.3);
        }

        img {
          width: 65%;
          height: 65%;
          position: absolute;
          left: 18%;
          top: 18%;
          opacity: 0.7;
        }
      }
    }

    .areaInfo {
      margin: 40px 0 ;
      @media(max-width:576px) {
          margin: 0 ;
      }
      h2 {
        padding: 20px 10px 0 0px;
        letter-spacing: 3px;
        font-weight: 900;
        @media(max-width:576px) {
          padding: 20px 0px 20px 0px;
      }

      }

      p {
        padding: 20px 20px 10px 0px;
        font-size: 22px;
        letter-spacing: 3px;
        line-height: 35px;
        text-align: justify;

        @media(max-width:576px) {
          font-size: 20px;
          padding: 10px 0px 20px 0px;
      }
      }
    }
  }

  .container-fluid {
    .areaMap {
      padding-bottom: 50px;
    }
  }
}

section.template  {
  .container {
    .title.drop-shadow {
      /* attra title add drop-shadow */
      filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

      img {
        width: 100%;
        @media (max-width: 576px) {
          width: 100%;
      }
      }
    }

    .row02 {
      box-shadow: 0 0 10px #5c5c5c;

      .swiper-container {
        width: 100%;
        .swiper-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .attraInfo {
        /* 景點 Attractions 簡介 */
        width: 100%;
        height: 100%;
        letter-spacing: 1px;
        color: whitesmoke;
        background-color: gray;
        padding: 40px 20px 20px 40px;
        @media (max-width: 576px) {
          padding: 30px 20px 20px 40px;
      }

      h2 {
        margin-bottom: 30px;

        @media (max-width: 576px) {
            font-size: 22px;
            margin-bottom: 15px;
        }
    }
        p {
          font-size: 18px;
          @media (max-width: 576px) {
            font-size: 16px;
            margin: 0 0 10px 0;
        }
        a {
          text-decoration: none;
          border-bottom: #ffffff 2px solid;
          color: #ffffff;
          font-size: 16px;
          // 一拳修改
      }

        }
      }
    }

    .attraContent {
      @media(max-width:576px) {
        padding-top: 15px;
    }
      p {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: justify;
        @media(max-width:576px) {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 30px;
      }
      }
    }
  }
}


#page05 {
  .container {
    .attraContent {
      padding-bottom: 200px;

      @media(max-width:576px) {
        padding-bottom: 160px;
    }
    }
  }
}

// 常樂footer 修改
.eastArea_footer {
  width: 100%;
  height: 200px;
  background-color: black;
  position: relative;
  @media(max-width:576px) {
    height:110px;
}

  p {
    color: whitesmoke;
    font-size: 15px;
    z-index: 9999;
    position: absolute;
    right: 2px;
    bottom: 5px;
    @media(max-width:576px) {
      font-size: 9px;
      right: 5%;
      bottom: 5px;
    
  }
  }

  .eastArea_Zebra_road {
    width: 50%;
    position: absolute;
    left: 4em;
    bottom: 0em;
    @media(max-width:576px) {
      height: 100%;
      width: 50%;
      left: 10%;
      bottom:2px;
  }
  }

  .eastArea_person {
    width: 50%;
    position: absolute;
    left: 12em;
    bottom: 1em;
    @media(max-width:576px) {
      width: 20%;
      left: 8%;
      bottom: 15px;
  }
  }

  .eastArea_temple {
    width: 50%;
    position: absolute;
    right: 2em;
    bottom: 5em;
    @media(max-width:576px) {
      width: 40%;
      right: 2%;
    bottom: 60px;
  }
  }
}

// 常樂footer 修改