a{
    text-decoration: none;
}

.bgimg{
    height: 100vh;
    width: 100%;

.bgtrain{
    margin: auto;
    width: 90%;
    height: 100vh;
    background-image: url('/2020lyiquan.github.io/img/首頁一/首頁底圖-10.png');
    background-size:cover ;
    background-position: center;
    position: relative;
    opacity: 0;
    transition: 3s;
    @media (max-width:576px){
        width: 100%;
        height: 100vh;
        background-image: url('/2020lyiquan.github.io/img/首頁一/台中火車站-黑白遮罩.jpg');
  
    }
    }
   
    .titletext {
        filter: drop-shadow(7px 7px 5px rgba(255, 255, 255, 1));
        width: 60%;
        position: absolute;
        top:95px;
        left:calc(50% - 275px );
        @media (max-width:576px){  width: 100%;
            position: absolute;
            top:70px;
            left:calc(50% - 170px )
    }
      
    }
    .enter a{
        color: black;
        font-size: 20px;
        font-family: '微軟正黑體';
        font-weight: bolder;
        position: absolute;
        top: 405px ;
        right:220px;
        // left:calc(50% - -215px);
        text-shadow:1px 1px 3px;
        transition: 0.5s;
        &:hover{
            cursor: pointer;
            transform: translate(-2px,-2px);
        }
        @media (max-width:576px){
            top: 240px ;
            right:35px;
                        
                        // left:calc(50% + 110px);
        }
}





}
@media (max-width:576px){
.container{
    margin: 0;
    padding: 0;

}}
//     .bgimg{
//         width: 100%;
//         height: 100vh;
    


