body {
  padding-top: 76px;
  /* navBar fixed-up 時 body 需 padding-top navBar 的 height */
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
  background-image: url("./../img/背景圖/ep_naturalwhite.png");
  background-position: center;
  background-repeat: repeat;
}

#main_nav.navbar {
  width: 100vw;

  /*  padding: 0; */
  .container {
    .navbar-brand img {
      @media(max-width:576px) {
          width: auto;
          height: 25px;

      }

  }

    /* margin: 8px 16px; */
    .nav-item {
      font-size: 20px;
      width: 9vw;
      height: 60px;
      line-height: 45px;
      font-family: "Noto Serif TC", serif;
      transition: 0.3s linear;

      @media(max-width:320px) {
        width: 100%;
      }

      &:hover {
        /*  navBar hover 時 標題區塊變灰 文字變黑 轉換時間 0.3S */
        background-color: lightgray;
        transition: 0.3s linear;
        position: relative;
        left: -2px;
        top: -2px;
        color: rgba(0, 0, 0, 0.568);
      }
    }
  }
}

#page01 {

  .container {

    .row {

      .areaAvatar {
        background-image: url("./../img/示意圖/台中公園.jpg");
        width: 315px;
        height: 315px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 3px solid rgb(95, 95, 95);
        position: relative;

        @media(max-width:576px) {
          width: 250px;
          height: 250px;
          margin: 20px 0;
        }

        .mask {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: rgba(240, 240, 240, 0.3);
        }

        img {
          width: 65%;
          height: 65%;
          position: absolute;
          left: 18%;
          top: 18%;
          opacity: 0.7;
        }
      }
    }

    .areaInfo {
      h2 {
        padding: 45px 10px 0 0px;
        letter-spacing: 3px;
        font-weight: 900;

        @media(max-width:576px) {
          padding: 20px 0px 20px 0px;
        }
      }

      p {
        padding: 20px 20px 10px 0px;
        font-size: 22px;
        letter-spacing: 3px;
        line-height: 35px;
        text-align: justify;

        @media(max-width:576px) {
          font-size: 20px;
          padding: 10px 0px 20px 0px;
        }
      }
    }
  }

  .container-fluid {
    .areaMap {
      padding-bottom: 50px;
    }
  }
}

#page02 {

  .container {


    .title.drop-shadow {
      /* attra title add drop-shadow */
      filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

      img {
        width: 100%;

        @media(max-width:576px) {
          width: 100%;
        }
      }
    }

    .row02 {
      box-shadow: 0 0 10px #5c5c5c;

      .swiper-container {
        width: 100%;

        @media(max-width: 576px) {}

        .swiper-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .attraInfo {
        /* 景點 Attractions 簡介 */
        width: 100%;
        height: 100%;
        letter-spacing: 3px;
        color: whitesmoke;
        background-color: gray;
        padding: 40px 20px 20px 40px;

        @media(max-width:576px) {
          padding: 30px 20px 20px 40px;
        }

        h2 {
          margin-bottom: 30px;

          @media(max-width:576px) {
            font-size: 22px;
            margin-bottom: 15px;
          }
        }

        p {
          font-size: 18px;

          @media(max-width:576px) {
            font-size: 16px;
            margin: 0 0 10px 0;
          }

          a {
            // background-color:#555;
            // padding: 5px 15px;

            text-decoration: none;
            border-bottom: #ffffff 2px solid;
            color: #ffffff;
            font-size: 16px;
            // 一拳修改
          }
        }
      }
    }

    .attraContent {
      @media(max-width:576px) {
        padding-top: 15px;
      }

      p {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: justify;

        @media(max-width:576px) {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 30px;
        }
      }
    }
  }
}


#page03 {


  .container {


    .title.drop-shadow {
      /* attra title add drop-shadow */
      filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

      img {
        width: 100%;

        @media(max-width:320px) {
          width: 110%;
        }
      }
    }

    .row02 {
      box-shadow: 0 0 10px #5c5c5c;

      .swiper-container {
        width: 100%;


        @media(max-width:320px) {
          height: 300px;
        }

        .swiper-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .attraInfo {
        width: 100%;
        height: 100%;
        letter-spacing: 3px;
        color: whitesmoke;
        background-color: gray;
        padding: 40px 20px 20px 40px;

        @media(max-width:576px) {
          padding: 30px 20px 20px 40px;
        }

        h2 {
          margin-bottom: 30px;

          @media(max-width:576px) {
            font-size: 22px;
            margin-bottom: 15px;
          }
        }

        p {
          font-size: 18px;

          @media(max-width:576px) {
            font-size: 16px;
            margin: 0 0 10px 0;
          }

          /* 文字強迫換行 */
          a {
            // background-color:#555;
            // padding: 5px 15px;

            text-decoration: none;
            border-bottom: #ffffff 2px solid;
            color: #ffffff;
            font-size: 16px;
            // 一拳修改
          }
        }
      }
    }

    .attraContent {
      @media(max-width:576px) {
        padding-top: 15px;
      }

      p {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: justify;

        @media(max-width:576px) {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 30px;
        }
      }

      margin-bottom: 20px;
    }
  }
}

#page04 {


  .container {


    .title.drop-shadow {
      /* attra title add drop-shadow */
      filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

      img {
        width: 100%;

        @media(max-width:576px) {
          width: 200%;
        }
      }
    }

    .row02 {
      box-shadow: 0 0 10px #5c5c5c;

      .swiper-container {
        width: 100%;
        height: 492px;

        @media(max-width:576px) {
          height: 300px;
        }

        .swiper-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .attraInfo {
        width: 100%;
        height: 100%;
        letter-spacing: 3px;
        color: whitesmoke;
        background-color: gray;
        padding: 40px 20px 20px 40px;

        @media(max-width:576px) {
          padding: 30px 20px 20px 40px;
        }

        h2 {
          margin-bottom: 30px;

          @media(max-width:576px) {
            font-size: 22px;
            margin-bottom: 15px;
          }
        }

        p {
          font-size: 18px;

          @media(max-width:576px) {
            font-size: 16px;
            margin: 0 0 10px 0;
          }

          a {
            // background-color:#555;
            // padding: 5px 15px;

            text-decoration: none;
            border-bottom: #ffffff 2px solid;
            color: #ffffff;
            font-size: 16px;
            // 一拳修改
          }
        }
      }
    }

    .attraContent {
      @media(max-width:576px) {
        padding-top: 15px;
      }

      p {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: justify;

        @media(max-width:576px) {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 30px;
        }
      }

      margin-bottom: 20px;
    }
  }
}

#page05 {


  .container {
    .title.drop-shadow {
      /* attra title add drop-shadow */
      filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

      img {
        width: 100%;

        @media(max-width:320px) {
          width: 100%;
        }
      }
    }

    .row02 {
      box-shadow: 0 0 10px #5c5c5c;

      .swiper-container {
        width: 100%;
        height: 492px;

        @media(max-width:320px) {
          height: 300px;
        }

        .swiper-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .attraInfo {
        width: 100%;
        height: 100%;
        letter-spacing: 3px;
        color: whitesmoke;
        background-color: gray;
        padding: 40px 20px 20px 40px;

        @media(max-width:576px) {
          padding: 30px 20px 20px 40px;
        }

        h2 {
          margin-bottom: 30px;

          @media(max-width:576px) {
            font-size: 22px;
            margin-bottom: 15px;
          }
        }

        p {
          font-size: 18px;

          @media(max-width:576px) {
            font-size: 16px;
            margin: 0 0 10px 0;
          }


          /* 文字強迫換行 */
          a {
            // background-color:#555;
            // padding: 5px 15px;

            text-decoration: none;
            border-bottom: #ffffff 2px solid;
            color: #ffffff;
            font-size: 16px;
          }
        }
      }
    }

    .attraContent {
      @media(max-width:576px) {
        padding-top: 15px;
      }

      p {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: justify;

        @media(max-width:576px) {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 30px;
        }
      }

      margin-bottom: 20px;
    }
  }
}

#page06 {


  .container {


    .title.drop-shadow {
      /* attra title add drop-shadow */
      filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

      img {
        width: 100%;

        @media(max-width:320px) {
          width: 200%;
        }
      }
    }

    .row02 {
      box-shadow: 0 0 10px #5c5c5c;

      .swiper-container {
        width: 100%;
        height: 492px;

        @media(max-width:320px) {
          height: 300px;
        }

        .swiper-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .attraInfo {
        width: 100%;
        height: 100%;
        letter-spacing: 3px;
        color: whitesmoke;
        background-color: gray;
        padding: 40px 20px 20px 40px;

        @media(max-width:576px) {
          padding: 30px 20px 20px 40px;
        }

        h2 {
          margin-bottom: 30px;

          @media(max-width:576px) {
            font-size: 22px;
            margin-bottom: 15px;
          }
        }

        p {
          font-size: 18px;

          @media(max-width:576px) {
            font-size: 16px;
            margin: 0 0 10px 0;
          }

          /* 文字強迫換行 */
          a {
            // background-color:#555;
            // padding: 5px 15px;

            text-decoration: none;
            border-bottom: #ffffff 2px solid;
            color: #ffffff;
            font-size: 16px;
            // 一拳修改
          }
        }
      }
    }

    .attraContent {
      @media(max-width:576px) {
        padding-top: 15px;
      }

      p {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: justify;

        @media(max-width:576px) {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 30px;
        }
      }

      margin-bottom: 20px;
    }
  }
}

#page07 {


  .container {


    .title.drop-shadow {
      /* attra title add drop-shadow */
      filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

      img {
        width: 100%;

        @media(max-width:320px) {
          width: 100%;
        }
      }
    }

    .row02 {
      box-shadow: 0 0 10px #5c5c5c;

      .swiper-container {
        width: 100%;
        height: 492px;

        @media(max-width:320px) {
          height: 300px;
        }

        .swiper-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .attraInfo {
        width: 100%;
        height: 100%;
        letter-spacing: 3px;
        color: whitesmoke;
        background-color: gray;
        padding: 40px 20px 20px 40px;

        @media(max-width:576px) {
          padding: 30px 20px 20px 40px;
        }

        h2 {
          margin-bottom: 30px;

          @media(max-width:576px) {
            font-size: 22px;
            margin-bottom: 15px;
          }
        }

        p {
          font-size: 18px;

          @media(max-width:576px) {
            font-size: 16px;
            margin: 0 0 10px 0;
          }

          a {
            // background-color:#555;
            // padding: 5px 15px;

            text-decoration: none;
            border-bottom: #ffffff 2px solid;
            color: #ffffff;
            font-size: 16px;
            // 一拳修改
          }
        }
      }
    }

    .attraContent {
      @media(max-width:576px) {
        padding-top: 15px;
      }

      p {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: justify;

        @media(max-width:576px) {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 30px;
        }
      }

      margin-bottom: 20px;
    }
  }
}

