@charset "UTF-8";
body {
  padding-top: 76px;
  /* navBar fixed-up 時 body 需 padding-top navBar 的 height */
  font-family: "Noto Serif TC", serif;
  font-weight: 600;
  background-image: url("./../img/背景圖/ep_naturalwhite.png");
  background-position: center;
  background-repeat: repeat;
}

#main_nav.navbar {
  width: 100vw;
  /*  padding: 0; */
}

#main_nav.navbar .container {
  /*  margin: 8px 16px; */
}

@media (max-width: 576px) {
  #main_nav.navbar .container .navbar-brand img {
    width: auto;
    height: 25px;
  }
}

#main_nav.navbar .container .navbar-nav .nav-item {
  font-size: 20px;
  width: 9vw;
  height: 40px;
  line-height: 45px;
  font-family: "Noto Serif TC", serif;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (max-width: 576px) {
  #main_nav.navbar .container .navbar-nav .nav-item {
    width: 100%;
  }
}

#main_nav.navbar .container .navbar-nav .nav-item:hover {
  /*  navBar hover 時 標題區塊變灰 文字變黑 轉換時間 0.3S */
  background-color: lightgray;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
  left: -2px;
  top: -2px;
  color: rgba(0, 0, 0, 0.568);
}

#page01 .container .row .areaAvatar {
  background-image: url("./../img/示意圖/文創園區.jpg");
  width: 315px;
  height: 315px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 3px solid #5f5f5f;
  position: relative;
  margin: 50px 0;
}

@media (max-width: 576px) {
  #page01 .container .row .areaAvatar {
    width: 250px;
    height: 250px;
    margin: 20px 0;
  }
}

#page01 .container .row .areaAvatar .mask {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(240, 240, 240, 0.3);
}

#page01 .container .row .areaAvatar img {
  width: 65%;
  height: 65%;
  position: absolute;
  left: 18%;
  top: 18%;
  opacity: 0.8;
}

#page01 .container .areaInfo {
  margin: 50px 0;
}

@media (max-width: 576px) {
  #page01 .container .areaInfo {
    margin: 0;
  }
}

#page01 .container .areaInfo h2 {
  padding: 45px 10px 0 0px;
  letter-spacing: 3px;
  font-weight: 900;
}

@media (max-width: 576px) {
  #page01 .container .areaInfo h2 {
    padding: 20px 0px 20px 0px;
  }
}

#page01 .container .areaInfo p {
  padding: 20px 20px 10px 0px;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 35px;
}

@media (max-width: 576px) {
  #page01 .container .areaInfo p {
    font-size: 20px;
    padding: 10px 0px 20px 0px;
  }
}

#page01 .container-fluid .areaMap {
  padding-bottom: 50px;
}

#page02 .container {
  padding-top: 50px;
}

#page02 .container p {
  padding: 20px 20px 10px 0px;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 35px;
  text-align: justify;
}

#page02 .container p .title.drop-shadow {
  /* attra title add drop-shadow */
  -webkit-filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
          filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
}

#page02 .container p .title.drop-shadow img {
  width: 100%;
}

@media (max-width: 576px) {
  #page02 .container p .title.drop-shadow img {
    width: 100%;
  }
}

#page02 .container p .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
}

#page02 .container p .row02 .swiper-container {
  width: 100%;
}

#page02 .container p .row02 .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

#page02 .container p .row02 .attraInfo {
  /* 景點 Attractions 簡介 */
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 .container p .row02 .attraInfo {
    padding: 30px 20px 20px 40px;
  }
}

#page02 .container p .row02 .attraInfo .container .title.drop-shadow {
  /* attra title add drop-shadow */
  -webkit-filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
          filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
}

#page02 .container p .row02 .attraInfo .container .title.drop-shadow img {
  width: 100%;
}

@media (max-width: 576px) {
  #page02 .container p .row02 .attraInfo .container .title.drop-shadow img {
    width: 100%;
  }
}

#page02 .container p .row02 .attraInfo .container .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
}

#page02 .container p .row02 .attraInfo .container .row02 .swiper-container {
  width: 100%;
}

#page02 .container p .row02 .attraInfo .container .row02 .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

#page02 .container p .row02 .attraInfo .container .row02 .attraInfo {
  /* 景點 Attractions 簡介 */
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 .container p .row02 .attraInfo .container .row02 .attraInfo {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

#page02 .container p .row02 .attraInfo .container .row02 p {
  font-size: 18px;
}

@media (max-width: 576px) {
  #page02 .container p .row02 .attraInfo .container .row02 p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}

#page02 .container p .row02 .attraInfo .container .row02 p a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #ffffff;
  font-size: 16px;
}

@media (max-width: 576px) {
  #page02 .container p .row02 .attraInfo .attraContent {
    padding-top: 15px;
  }
}

#page02 .container p .row02 .attraInfo .attraContent p {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 576px) {
  #page02 .container p .row02 .attraInfo .attraContent p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

#page02 #page03 .container {
  padding-top: 50px;
}

#page02 #page03 .container .title.drop-shadow {
  /* attra title add drop-shadow */
  -webkit-filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
          filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
}

#page02 #page03 .container .title.drop-shadow img {
  width: 100%;
}

@media (max-width: 576px) {
  #page02 #page03 .container .title.drop-shadow img {
    width: 100%;
  }
}

#page02 #page03 .container .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
}

#page02 #page03 .container .row02 .swiper-container {
  width: 100%;
  height: 492px;
}

@media (max-width: 320px) {
  #page02 #page03 .container .row02 .swiper-container {
    height: 300px;
  }
}

#page02 #page03 .container .row02 .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

#page02 #page03 .container .row02 .attraInfo {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 #page03 .container .row02 .attraInfo {
    padding: 30px 20px 20px 40px;
  }
}

#page02 #page03 .container .row02 .attraInfo h2 {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  #page02 #page03 .container .row02 .attraInfo h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

#page02 #page03 .container .row02 .attraInfo p {
  font-size: 18px;
}

@media (max-width: 576px) {
  #page02 #page03 .container .row02 .attraInfo p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}

#page02 #page03 .container .row02 .attraInfo p a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #ffffff;
  font-size: 16px;
}

#page02 #page03 .container .container {
  padding-top: 50px;
  margin-bottom: 20px;
}

#page02 #page03 .container .container .title.drop-shadow {
  /* attra title add drop-shadow */
  -webkit-filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
          filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
}

#page02 #page03 .container .container .title.drop-shadow img {
  width: 100%;
}

@media (max-width: 576px) {
  #page02 #page03 .container .container .title.drop-shadow img {
    width: 100%;
  }
}

#page02 #page03 .container .container .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
}

#page02 #page03 .container .container .row02 .swiper-container {
  width: 100%;
  letter-spacing: 3px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 #page03 .container .container .row02 .swiper-container {
    height: 300px;
  }
}

#page02 #page03 .container .container .row02 .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  #page02 #page03 .container .container .row02 .swiper-container {
    padding: 30px 20px 20px 40px;
  }
}

#page02 #page03 .container .container .row02 .swiper-container .attraInfo {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 #page03 .container .container .row02 .swiper-container .attraInfo {
    padding: 30px 20px 20px 40px;
  }
}

#page02 #page03 .container .container .row02 .swiper-container .attraInfo h2 {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  #page02 #page03 .container .container .row02 .swiper-container .attraInfo h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

#page02 #page03 .container .container .row02 .swiper-container .attraInfo p {
  font-size: 18px;
}

@media (max-width: 576px) {
  #page02 #page03 .container .container .row02 .swiper-container .attraInfo p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}

#page02 #page03 .container .container .row02 .swiper-container .attraInfo p a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #ffffff;
  font-size: 16px;
}

#page02 #page03 .container .container .row02 .attraContent {
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  #page02 #page03 .container .container .row02 .attraContent {
    padding-top: 15px;
  }
}

#page02 #page03 .container .container .row02 .attraContent p {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 576px) {
  #page02 #page03 .container .container .row02 .attraContent p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

#page02 #page04 .container .title.drop-shadow {
  /* attra title add drop-shadow */
  -webkit-filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
          filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
}

#page02 #page04 .container .title.drop-shadow img {
  width: 100%;
}

@media (max-width: 576px) {
  #page02 #page04 .container .title.drop-shadow img {
    width: 100%;
  }
}

#page02 #page04 .container .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
}

#page02 #page04 .container .row02 .swiper-container {
  width: 100%;
  height: 492px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .swiper-container {
    height: 300px;
  }
}

#page02 #page04 .container .row02 .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

#page02 #page04 .container .row02 .swiper-wrapper img {
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .swiper-wrapper img {
    padding: 30px 20px 20px 40px;
  }
}

#page02 #page04 .container .row02 .swiper-wrapper img .attraInfo {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .swiper-wrapper img .attraInfo {
    padding: 30px 20px 20px 40px;
  }
}

#page02 #page04 .container .row02 .swiper-wrapper img .attraInfo h2 {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .swiper-wrapper img .attraInfo h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

#page02 #page04 .container .row02 .swiper-wrapper img .attraInfo p {
  font-size: 18px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .swiper-wrapper img .attraInfo p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}

#page02 #page04 .container .row02 .swiper-wrapper img .attraInfo p a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #ffffff;
  font-size: 16px;
}

#page02 #page04 .container .row02 .swiper-wrapper .attraContent {
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .swiper-wrapper .attraContent {
    padding-top: 15px;
  }
}

#page02 #page04 .container .row02 .swiper-wrapper .attraContent p {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .swiper-wrapper .attraContent p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

#page02 #page04 .container .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
}

#page02 #page04 .container .row02 .container .title.drop-shadow {
  /* attra title add drop-shadow */
  -webkit-filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
          filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
}

#page02 #page04 .container .row02 .container .title.drop-shadow .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

#page02 #page04 .container .row02 .container .attraInfo {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .container .attraInfo {
    padding: 30px 20px 20px 40px;
  }
}

#page02 #page04 .container .row02 .container .attraInfo h2 {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .container .attraInfo h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

#page02 #page04 .container .row02 .container .attraInfo p {
  font-size: 18px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .container .attraInfo p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}

#page02 #page04 .container .row02 .container .attraInfo p a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #ffffff;
  font-size: 16px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent {
    padding-top: 15px;
  }
}

#page02 #page04 .container .row02 .attraContent p {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

#page02 #page04 .container .row02 .attraContent .attraInfo {
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container {
  padding-top: 50px;
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .title.drop-shadow {
  /* attra title add drop-shadow */
  -webkit-filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
          filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .title.drop-shadow img {
  width: 100%;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .title.drop-shadow img {
    width: 100%;
  }
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
  margin-bottom: 20px;
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .row02 .swiper-container {
  width: 100%;
  height: 492px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .row02 .swiper-container {
    height: 300px;
  }
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .row02 .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .row02 .attraInfo {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container .row02 .attraInfo {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container h2 {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container p {
  font-size: 18px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}

#page02 #page04 .container .row02 .attraContent .attraInfo #page05 .container p a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #ffffff;
  font-size: 16px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent .attraInfo .attraContent {
    padding-top: 15px;
  }
}

#page02 #page04 .container .row02 .attraContent .attraInfo .attraContent p {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent .attraInfo .attraContent p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

#page02 #page04 .container .row02 .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
}

#page02 #page04 .container .row02 .row02 .swiper-container {
  width: 100%;
  height: 492px;
}

@media (max-width: 320px) {
  #page02 #page04 .container .row02 .row02 .swiper-container {
    height: 300px;
  }
}

#page02 #page04 .container .row02 .row02 .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

#page02 #page04 .container .row02 .row02 .attraInfo {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .row02 .attraInfo {
    padding: 30px 20px 20px 40px;
  }
}

#page02 #page04 .container .row02 .row02 .attraInfo h2 {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .row02 .attraInfo h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

#page02 #page04 .container .row02 .row02 .attraInfo p {
  font-size: 18px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .row02 .attraInfo p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}

#page02 #page04 .container .row02 .row02 .attraInfo p a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #ffffff;
  font-size: 16px;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent {
    padding-top: 15px;
  }
}

#page02 #page04 .container .row02 .attraContent p {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 576px) {
  #page02 #page04 .container .row02 .attraContent p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

#page02 #page04 .container .row02 .attraContent {
  padding-bottom: 200px;
}

#page02 #page04 .container .row02 .attraContent p {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=southArea.css.map */