body {
    padding-top: 76px;
    /* navBar fixed-up 時 body 需 padding-top navBar 的 height */
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    background-image: url("./../img/背景圖/ep_naturalwhite.png");
    background-position: center;
    background-repeat: repeat;
}

#main_nav.navbar {
    width: 100vw;

    /*  padding: 0; */
    
        .navbar-brand img {
            @media(max-width:576px) {
                width: auto;
                height: 25px;

            }

        }

        /*  margin: 8px 16px; */
        .navbar-nav {
            .nav-item {
                font-size: 20px;
                width: 9vw;
                height: 40px;
                line-height: 45px;
                font-family: "Noto Serif TC", serif;
                transition: 0.3s linear;

                @media(max-width:576px) {
                    width: 100%;
                }

                &:hover {
                    /*  navBar hover 時 標題區塊變灰 文字變黑 轉換時間 0.3S */
                    background-color: lightgray;
                    transition: 0.3s linear;
                    position: relative;
                    left: -2px;
                    top: -2px;
                    color: rgba(0, 0, 0, 0.568);
                }
            }
        }
    
}

#page01 {

    .container {

        .row {

            .areaAvatar {
                background-image: url("./../img/示意圖/文創園區.jpg");
                width: 250px;
                height: 250px;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                border: 3px solid rgb(95, 95, 95);
                position: relative;
                margin: 40px 0px ;

                @media(max-width:576px) {
                    width: 250px;
                    height: 250px;
                    margin: 20px 0;
                }

                .mask {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: rgba(240, 240, 240, 0.3);
                }

                img {
                    width: 65%;
                    height: 65%;
                    position: absolute;
                    left: 18%;
                    top: 18%;
                    opacity: 0.8;
                }
            }
        }

        .areaInfo {
            margin: 40px 0 ;
            @media(max-width:576px) {
                margin: 0 ;
            }
            h2 {
                padding: 13px 10px 0 0px;
                letter-spacing: 3px;
                font-weight: 900;

                @media(max-width:576px) {
                    padding: 20px 0px 20px 0px;
                }

            }

            p {
                padding: 20px 20px 10px 0px;
                font-size: 22px;
                letter-spacing: 3px;
                line-height: 35px;
                text-align: justify;

                @media(max-width:576px) {
                    font-size: 20px;
                    padding: 10px 0px 20px 0px;
                }
            }
        }
    }

    .container-fluid {
        .areaMap {
            padding-bottom: 50px;
        }
    }
}

section.template {
    .container {
        padding-top: 50px;

        .title.drop-shadow {
            /* attra title add drop-shadow */
            filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));

            img {
                width: 100%;

                @media (max-width: 576px) {
                    width: 100%;
                }
            }
        }

        .row02 {
            box-shadow: 0 0 10px #5c5c5c;

            .swiper-container {
                width: 100%;

                .swiper-wrapper {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .attraInfo {
                /* 景點 Attractions 簡介 */
                width: 100%;
                height: 100%;
                letter-spacing: 1px;
                color: whitesmoke;
                background-color: gray;
                padding: 40px 20px 20px 40px;

                @media (max-width: 576px) {
                    padding: 30px 20px 20px 40px;
                }

                h2 {
                    margin-bottom: 30px;

                    @media (max-width: 576px) {
                        font-size: 22px;
                        margin-bottom: 15px;
                    }
                }

                p {
                    font-size: 18px;

                    @media (max-width: 576px) {
                        font-size: 16px;
                        margin: 0 0 10px 0;
                    }

                    a {
                        // background-color:#555;
                        // padding: 5px 15px;

                        text-decoration: none;
                        border-bottom: #ffffff 2px solid;
                        color: #ffffff;
                        font-size: 16px;
                        // 一拳修改
                    }
                }
            }
        }

        .attraContent {
            @media(max-width:576px) {
                padding-top: 15px;
            }

            p {
                font-size: 18px;
                letter-spacing: 3px;
                line-height: 35px;
                margin-bottom: 30px;
                text-align: justify;

                @media(max-width:576px) {
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 30px;
                }
            }
        }
    }
}

#page05 {
    .container {
        .attraContent {
            padding-bottom: 200px;

            @media(max-width:576px) {
                padding-bottom: 100px;
            }
        }
    }
}



// 常樂footer 修改
.southArea_footer {
    width: 100%;
    height: 10vw;
    background-color: black;
    position: relative;

    @media (max-width: 460px) {
        height: 20vw;
    }

    p {
        color: whitesmoke;
        font-size: 1.5em;
        z-index: 9999;
        position: absolute;

        top: 50%;
        left: 34%;
        transform: translate(-50%, -50%);

        @media (max-width: 460px) {
            font-size: 1em;
            left: 50%;
            width: 60vw;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 460px) {
            width: 70vw;
        }
    }

    .southArea_library {
        width: 50%;
        position: absolute;
        right: 4em;
        bottom: 2em;

        @media (max-width: 460px) {
            right: 0.5em;
            bottom: 3.2em;
            width: 60%;
        }
    }

    .southArea_person {
        width: 12%;
        position: absolute;
        left: 9em;
        bottom: 1em;
        transform: scaleX(-1);

        @media (max-width: 460px) {
            left: 1em;
            bottom: 3.2em;
            width: 20%;
        }
    }
}

// 常樂footer 修改