@charset "UTF-8";
#page01 .areaAvatar {
  background-image: url("./../img/示意圖/美術館.jpg");
}

section.template .topbutn {
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 100px;
  bottom: 50px;
  z-index: 10;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

section.template .topbutn.active {
  opacity: 1;
  pointer-events: all;
}

section.template .topbutn img {
  width: 50px;
  height: 100px;
}

@media (max-width: 576px) {
  section.template .topbutn {
    width: 40px;
    height: 80px;
    right: 15px;
  }
}

section.template .container .title.drop-shadow {
  /* attra title add drop-shadow */
  -webkit-filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
          filter: drop-shadow(3px 3px 4px rgba(41, 41, 41, 0.7));
}

section.template .container .title.drop-shadow img {
  width: 100%;
  margin: 80px 0;
}

@media (max-width: 576px) {
  section.template .container .title.drop-shadow img {
    margin: 20px 0;
  }
}

section.template .container .row02 {
  -webkit-box-shadow: 0 0 10px #5c5c5c;
          box-shadow: 0 0 10px #5c5c5c;
}

section.template .container .row02 .swiper-container {
  width: 100%;
}

section.template .container .row02 .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

section.template .container .row02 .attraInfo {
  /* 景點 Attractions 簡介 */
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: gray;
  padding: 40px 20px 20px 40px;
}

@media (max-width: 576px) {
  section.template .container .row02 .attraInfo {
    padding: 30px 20px 20px 40px;
  }
}

section.template .container .row02 .attraInfo h2 {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  section.template .container .row02 .attraInfo h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

section.template .container .row02 .attraInfo p {
  font-size: 18px;
}

@media (max-width: 576px) {
  section.template .container .row02 .attraInfo p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}

section.template .container .row02 .attraInfo p a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #ffffff;
  font-size: 16px;
}

@media (max-width: 576px) {
  section.template .container .attraContent {
    padding-top: 15px;
  }
}

section.template .container .attraContent p {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 576px) {
  section.template .container .attraContent p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

#page08 .container .attraContent {
  padding-bottom: 200px;
}

@media (max-width: 768px) {
  #page08 .container .attraContent {
    padding-bottom: 300px;
  }
}

@media (max-width: 576px) {
  #page08 .container .attraContent {
    padding-bottom: 120px;
  }
}

.westArea_footer {
  width: 100%;
  height: 10vw;
  background-color: black;
  position: relative;
}

@media (max-width: 768px) {
  .westArea_footer {
    height: 18vw;
  }
}

.westArea_footer p {
  color: whitesmoke;
  font-size: 0.9em;
  letter-spacing: 3px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 66vw;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .westArea_footer p {
    left: 55vw;
    width: 60vw;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 414px) {
  .westArea_footer p {
    font-size: 3vw;
  }
}

.westArea_footer .westArea_art_gallery {
  width: 35%;
  position: absolute;
  left: 3vw;
  bottom: 5vw;
}

@media (max-width: 768px) {
  .westArea_footer .westArea_art_gallery {
    left: 1vw;
    bottom: 13vw;
    width: 60%;
  }
}

.westArea_footer .westArea_person {
  width: 9%;
  position: absolute;
  right: 8vw;
  bottom: 5vw;
}

@media (max-width: 768px) {
  .westArea_footer .westArea_person {
    right: 2vw;
    bottom: 13vw;
    width: 16%;
  }
}
/*# sourceMappingURL=westArea.css.map */